body{
    display:flex;
    flex-direction: column;
}

button {
    margin:auto;
}

.screen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;

    width: 94vh;
    height: 94vh;
    margin: 0px;
    border: 0px;
    gap: 0px;
    background-color: #DBDAD6;
}

.pixel{
    width: 6.25%;
    height: 6.25%;
    border: 0px;
    margin: 0px;
    background-color: #DBDAD6;
}